<form id="box_pickup_controls">

    <label>
        Configuration
        <select name="cfg">
            <!-- <option value="0">Custom</option> -->
            {% for cfg in global_data.config %}
            <option value="{{ cfg }}">{{ cfg }}</option>
            {% endfor %}            
        </select>
    </label>

    <label>
        Number of faults
        <input type="text" name="no_faults" value="0">
    </label>

    <label>
        <button id="runEx" type="button">Run</button>
    <!-- </label>
    
    <label> -->
        <input id="fetchRedis" type="submit" value="Fetch sim data">
    </label>

    <!-- <button id="runEx">Run</button> -->

    <!-- <label>
        Number of robots
        <input type="text" name="no_robots" value="10">
    </label>

    <label>
        Number of boxes
        <input type="text" name="no_boxes" value="10">
    </label> -->

    <!-- <label>
        Intial position
        <select name="init_pos">
            <option value="0">Default</option>
            {% for scenario in global_data.scenarios %}
            <option value="{{ scenario }}">{{ scenario }}</option>
            {% endfor %}            
        </select>
    </label>

    <label>
        Swarm behaviour
        <select name="cfg">
            <option value="0">Random walk</option>
            {% for scenario in global_data.scenarios %}
            <option value="{{ scenario }}">{{ scenario }}</option>
            {% endfor %}            
        </select>
    </label> -->
    
    

</form>

<hr>

<div class="metrics">
    <select>
        {% for i in range(global_data.metadata['number_of_agents']) %}
        <option value="{{ i }}">Robot {{ i+1 }}</option>
        {% endfor %}  
    </select>
    <br><br>
    <div id="metricData"></div>
</div>